mat-toolbar {
  background-color: rgb(213, 182, 198);
}

.spacer {
  flex: 1 1 auto;
}

.navbar-btn {
  line-height: 0;
}

.myFlix-logo {
  text-decoration: none;
}

.myFlix-logo:visited {
  color: inherit;
}
