<div class="profile">
  <div>
    <h2>Your Profile</h2>
  </div>
  <!-- Username -->
  <div class="profile-data-row">
    <span class="profile-category">Username: </span>
    <span [hidden]="isDisplayedUsernameEdit" class="profile-data">
      {{ user.Username }}
    </span>
    <div [hidden]="!isDisplayedUsernameEdit">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Username"
          class="hidden"
          placeholder="{{ user.Username }}"
          type="text"
          name="Username"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateUsername()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayUsernamerEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedUsernameEdit">
      <mat-icon
        (click)="displayUsernamerEdit()"
        aria-hidden="false"
        aria-label="Pen icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Email -->
  <div class="profile-data-row">
    <span class="profile-category">Email: </span>
    <span [hidden]="isDisplayedEmailEdit" class="profile-data">
      {{ user.Email }}
    </span>
    <div [hidden]="!isDisplayedEmailEdit">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Email"
          class="hidde"
          placeholder="{{ user.Email }}"
          type="text"
          name="Email"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateEmail()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayEmailEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedEmailEdit">
      <mat-icon
        (click)="displayEmailEdit()"
        aria-hidden="false"
        aria-label="Pen icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Password -->
  <div class="profile-data-row">
    <span class="profile-category">Password: </span>
    <span [hidden]="isDisplayedPasswordEdit" class="profile-data">
      &#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;
    </span>
    <div [hidden]="!isDisplayedPasswordEdit">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="userData.Password"
          class="hidde"
          placeholder="Password"
          type="password"
          name="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updatePassword()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayPasswordEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedPasswordEdit">
      <mat-icon
        (click)="displayPasswordEdit()"
        aria-hidden="false"
        aria-label="Pen icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Birthday -->
  <div class="profile-data-row">
    <span class="profile-category">Birthday: </span>
    <span [hidden]="isDisplayedBirthdayEdit" class="profile-data">
      {{ user.Birthday | date: "longDate" }}
    </span>
    <div [hidden]="!isDisplayedBirthdayEdit">
      <mat-form-field appearance="outline">
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          class="hidden"
          placeholder="{{ user.Birthday }}"
          type="date"
          name="Birthday"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateBirthday()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayBirthdayEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedBirthdayEdit">
      <mat-icon
        (click)="displayBirthdayEdit()"
        aria-hidden="false"
        aria-label="Icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>

  <button mat-raised-button color="secondary" (click)="onClickDelete()">
    Delete profile
  </button>
</div>

<!-- Favorite movies -->
<h2 class="favorite-movies-heading">Favorite movies</h2>
<div class="favorite-movies">
  <mat-card
    *ngFor="let movie of favoriteMovies; let i = index"
    class="movie-card"
  >
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>
        Directed by:<br />
        <button
          mat-button
          color="primary"
          (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.Birth,
              movie.Director.Death
            )
          "
        >
          {{ movie.Director.Name }}
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <img src="{{ movie.imgURL }}" alt="Image of movie" />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="openSynopsisDialog(movie.Description)"
      >
        Synopsis
      </button>
      <mat-icon
        (click)="removeFromFavoriteMovies(movie._id)"
        aria-hidden="false"
        aria-label="Icon to remove movie from favorite movies"
        >favorite</mat-icon
      >
    </mat-card-actions>
  </mat-card>
</div>
