<div class="profile">
  <div>
    <h2>Your Profile</h2>
  </div>
  <!-- Username -->
  <div class="profile-data-row">
    <span class="profile-category">Username: </span>
    <span [hidden]="isDisplayedUsernameEdit" class="profile-data">
      {{ user.Username }}
    </span>
    <div [hidden]="!isDisplayedUsernameEdit">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Username"
          class="hidden"
          placeholder="{{ user.Username }}"
          value="{{ user.Username }}"
          type="text"
          name="Username"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateUsername()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayUsernamerEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedUsernameEdit">
      <mat-icon
        (click)="displayUsernamerEdit()"
        aria-hidden="false"
        aria-label="Icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Email -->
  <div class="profile-data-row">
    <span class="profile-category">Email: </span>
    <span [hidden]="isDisplayedEmailEdit" class="profile-data">
      {{ user.Email }}
    </span>
    <div [hidden]="!isDisplayedEmailEdit">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Email"
          class="hidden"
          placeholder="{{ user.Email }}"
          value="{{ user.Email }}"
          type="text"
          name="Email"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateEmail()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayEmailEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedEmailEdit">
      <mat-icon
        (click)="displayEmailEdit()"
        aria-hidden="false"
        aria-label="Icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Password -->
  <div class="profile-data-row">
    <span class="profile-category">Password: </span>
    <span [hidden]="isDisplayedPasswordEdit" class="profile-data">
      &#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;
    </span>
    <div [hidden]="!isDisplayedPasswordEdit">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="userData.Password"
          class="hidden"
          placeholder="Password"
          type="password"
          name="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updatePassword()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayPasswordEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedPasswordEdit">
      <mat-icon
        (click)="displayPasswordEdit()"
        aria-hidden="false"
        aria-label="Icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>
  <!-- Birthday -->
  <div class="profile-data-row">
    <span class="profile-category">Birthday: </span>
    <span [hidden]="isDisplayedBirthdayEdit" class="profile-data">
      {{ user.Birthday | date: "longDate" }}
    </span>
    <div [hidden]="!isDisplayedBirthdayEdit">
      <mat-form-field appearance="outline">
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          class="hidden"
          placeholder="{{ user.Birthday }}"
          value="{{ user.Birthday }}"
          type="date"
          name="Birthday"
        />
      </mat-form-field>
      <div class="profileEditBtns">
        <button mat-raised-button color="primary" (click)="updateBirthday()">
          Save
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="displayBirthdayEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [hidden]="isDisplayedBirthdayEdit">
      <mat-icon
        (click)="displayBirthdayEdit()"
        aria-hidden="false"
        aria-label="Icon to edit the input"
      >
        edit
      </mat-icon>
    </div>
  </div>

  <button mat-raised-button color="secondary" (click)="onClickDelete()">
    Delete profile
  </button>
</div>
